@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Professor"]</p>

<adress>
    <strong>More information: </strong> <a href="http://www.educaweb.com.br">EducaWeb.com</a>
</adress>